In [16]:
fruits = ["apple", "banana", "cherry"]

In [17]:
for x in fruits:
  print(x)

apple
banana
cherry

In [18]:
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [20]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [7]:
for x in range(1,6):
    print(x)

1
2
3
4
5

Write a Python program to find those numbers which are divisible by 7 and multiple of 5,
between 1500 and 2700 (both included).

In [9]:
for i in range(1500,2700):
    if(i%5==0 and i%7==0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

Loop through the index numbers |

In [21]:
thislist = ["apple", "banana", "cherry"]
for i in range(2):
  print(thislist[i])

apple
banana

In [3]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 2

apple
cherry

Loop using list comprehension

In [29]:
thislist = ["apple", "banana", "cherry",1]
new = [x for x in thislist]

In [30]:
new

['apple', 'banana', 'cherry', 1]

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
        
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

Syntax:
newlist = [expression for item in iterable if condition == True]

In [9]:
newlist = [x for x in fruits if x != "apple"]

In [10]:
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [11]:
newlist = [x for x in range(10) if x < 5]

In [12]:
newlist

[0, 1, 2, 3, 4]

In [13]:
newlist = [x.upper() for x in fruits]

In [14]:
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']