In [1]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [2]:
set1 = {1,2,3,4,5}

In [4]:
type(set1)

set

In [6]:
set1

{1, 2, 3, 4, 5}

Duplicates are not allowed in sets

In [8]:
set2 = {1,2,2,3,4,5}

In [9]:
set2

{1, 2, 3, 4, 5}

# Access Set items

Set items cannot be accessed using indexing unlike lists and tuples

In [10]:
set1[1]

TypeError: 'set' object is not subscriptable

So, we need to access set items using for loops or the keywords 'in' or 'not in'

In [11]:
for i in set1:
    print(i)

1
2
3
4
5

In [13]:
for i in set1:
    if i == 4:
        print(i)

4

In [15]:
3 in set1

True

In [16]:
5 not in set1

False

Once set is created it cannot be changed

# Set Methods

In [17]:
set1

{1, 2, 3, 4, 5}

In [18]:
set1.add(8)

In [19]:
set1

{1, 2, 3, 4, 5, 8}

We can add items in set of different other objects also

In [20]:
mylist = ['ab','bh','xy']

In [21]:
set1.update(mylist)

In [22]:
set1

{1, 2, 3, 4, 5, 8, 'ab', 'bh', 'xy'}

In [26]:
tt=(100,101)

In [27]:
set1.update(tt)

In [28]:
set1

{1, 100, 101, 2, 3, 4, 5, 8, 'ab', 'bh', 'xy'}

In [29]:
set1.remove(101)

In [30]:
set1

{1, 100, 2, 3, 4, 5, 8, 'ab', 'bh', 'xy'}

In [31]:
set2 = {9,0,3,2,1}

In [32]:
set2.pop()

0

In [33]:
set2

{1, 2, 3, 9}

In [34]:
set2.pop()

1

In [35]:
set2

{2, 3, 9}

In [36]:
set2.clear()

In [37]:
set2

set()

In [39]:
del set2

In [38]:
set3 = {200,201,222}

In [40]:
set2 = set3.union(set1)

In [41]:
set2

{1, 100, 2, 200, 201, 222, 3, 4, 5, 8, 'ab', 'bh', 'xy'}

In [44]:
set1

{1, 100, 2, 3, 4, 5, 8, 'ab', 'bh', 'xy'}

In [45]:
set1.update(set2)

In [46]:
set1

{1, 100, 2, 200, 201, 222, 3, 4, 5, 8, 'ab', 'bh', 'xy'}